.contenedor {
    display: flex;
    flex-direction: column;
    gap: var(--step-3);
    & .fecha {
        font-family: sans-serif;
    }
    & .totales {
        display: flex;
        flex-direction: column;
        gap: var(--step--2);
        & * {
            font-family: sans-serif;
        }
    }
}